.container {
    background-color: white;
  min-height: 10vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #0057FF;
  margin: 0;
  line-height: 2.15;
  font-size: 8rem;
}

.title,
.description {
  text-align: center;
}

.description {
    color: black;
  line-height: .5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
